extends ../views/layouts/default.pug
block main
  .container.mt-4
    h1.mb-3 Chào mừng tới trang cá nhân, #{user.name}!  
    p Tên tài khoản của bạn là: <strong>#{user.username}</strong>
    hr
    p Đây là khu vực cá nhân của bạn. Bạn có thể thêm các tính năng như đổi mật khẩu, xem các file đã upload...  
    a(href="/", class="btn btn-primary mt-3") Quay về trang chủ
    h1.mt-4 Upload File
    form(
      action="/upload"
      method="POST"
      enctype="multipart/form-data" 
    )
      div(class="form-group")
        label(for="avatar") Chọn 1 file ảnh
        input(
          type="file"
          class="form-control-file"
          id="avatar"
          name="avatar"
        )
      button(type="submit", class="btn btn-primary") Upload